@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/verdana');



:root{
    --primary: #014ba0;
    --secondary: #0a5cb8;
    --auxiliar1: #1466c3;
    --auxiliar2: #2174d4;
    --light: #B6CFDD;
    --more-light: #d1e4ee;
    --red: #C00000;
    --yellow: #FFC107;
    --white: #ffffff;
}
html, body{
    margin: 0;
    padding: 0;
    font-family: 'Verdana', sans-serif !important;
}
.text-primary{
    color: var(--primary) !important;
}
.text-auxiliar2{
    color: var(--auxiliar2);
}
.text-auxiliar1{
    color: var(--auxiliar1);
}
.text-secondary{
    color: var(--secondary);
}
.bg-primary{
    background-color: var(--primary);
}
.bg-auxiliar2{
    background-color: var(--auxiliar2);
}
.bg-yellow{
    background-color: var(--yellow);
}
.bg-light{
    background-color: var(--light);
}




