
<div class="container px-4 py-5">
  <h2 class="pb-2 border-bottom">Features with title</h2>

  <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
    <div class="col d-flex flex-column align-items-start gap-2">
      <h2 class="fw-bold text-body-emphasis">Left-aligned title explaining these awesome features</h2>
      <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
      <a href="#" class="btn btn-primary btn-lg">Primary button</a>
    </div>

    <div class="col">
      <div class="row row-cols-1 row-cols-sm-2 g-4">
        <div class="col d-flex flex-column gap-2">
          <div class="flex justify-center w-10 background-secondary-dark rounded-3 white-text h-10 align-items-center">
            <mat-icon>inventory</mat-icon>
          </div>
          <h4 class="fw-semibold mb-0 text-body-emphasis">Mayoreo</h4>
          <p class="text-body-secondary">Inicia tu negocio hoy mismo, con productos y precios increíbles.</p>
        </div>

        <div class="col d-flex flex-column gap-2">
          <div class="flex justify-center w-10 background-secondary-dark rounded-3 white-text h-10 align-items-center">
            <mat-icon>flight_takeoff</mat-icon>
          </div>
          <h4 class="fw-semibold mb-0 text-body-emphasis">Envíos Nacionales e Internacionales</h4>
          <p class="text-body-secondary">Contamos con envíos nacionales e internacionales en un plazo de 5 dias.</p>
        </div>

        <div class="col d-flex flex-column gap-2">
          <div class="flex justify-center w-10 background-secondary-dark rounded-3 white-text h-10 align-items-center">
            <mat-icon>health_and_safety</mat-icon>
          </div>
          <h4 class="fw-semibold mb-0 text-body-emphasis">Pago Seguro</h4>
          <p class="text-body-secondary">Todos los pagos son seguros, tu información está protegida.</p>
        </div>

        <div class="col d-flex flex-column gap-2">
          <div class="flex justify-center w-10 background-secondary-dark rounded-3 white-text h-10 align-items-center">
            <mat-icon>auto_awesome</mat-icon>
          </div>
          <h4 class="fw-semibold mb-0 text-body-emphasis">Calidad</h4>
          <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
        </div>
      </div>
    </div>
  </div>
</div>
